@model FInalProject.Models.Driver

@{
    ViewData["Title"] = "Create";
}

<h1>Добавление категории</h1>

<h4>Категория</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="surname" class="control-label">Фамилия</label>
                <input asp-for="surname" class="form-control"/>
                <span asp-validation-for="surname" class="text-danger"></span>
                <label asp-for="name" class="control-label">Имя</label>
                <input asp-for="name" class="form-control"/>
                <span asp-validation-for="name" class="text-danger"></span>
                <label asp-for="patronymic" class="control-label">Отчество</label>
                <input asp-for="patronymic" class="form-control"/>
                <span asp-validation-for="patronymic" class="text-danger"></span>
                <label asp-for="drcertnum" class="control-label">Номер ВУ</label>
                <input asp-for="drcertnum" class="form-control"/>
                <span asp-validation-for="drcertnum" class="text-danger"></span>
                <label asp-for="drcertdate" class="control-label">Дата выдачи ВУ</label>
                <input asp-for="drcertdate" class="form-control"/>
                <span asp-validation-for="drcertdate" class="text-danger"></span>
                <label asp-for="classs" class="control-label">Класс</label>
                <input asp-for="classs" class="form-control"/>
                <span asp-validation-for="classs" class="text-danger"></span>
                <label asp-for="timedriving" class="control-label">Стаж</label>
                <input asp-for="timedriving" class="form-control"/>
                <span asp-validation-for="timedriving" class="text-danger"></span>
          </div>
            
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DriverTablePage">Вернуться назад</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}