@model FInalProject.Models.Stock

@{
    ViewData["Title"] = "Delete";
}


<h3>Вы уверены, что хотите удалить склад из списка?</h3>
<div>


    <dl class="row">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="StockId" class="control-label">ID</label>
                <input type="text" asp-for="StockId" class="form-control"/>
                <span asp-validation-for="StockId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="StockAddress" class="control-label">Наименование</label>
                <input type="text" asp-for="StockAddress" class="form-control"/>
                <span asp-validation-for="StockAddress" class="text-danger"></span>
            </div>
           

            <input type="submit" value="Удалить" class="btn btn-danger"/>
            <a asp-action="StockTablePage">Вернуться назад</a>
        </form>
    </dl>
</div>