@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Добро пожаловать</h1>
   
        <div align="left">
            <h2 >TO</h2>
            <h3 >График ТО за выбранную дату</h3>
            <form method="post" action="~/TO/TOTablePage">
                <p>
                    <label  class="control-label">Месяц</label>

                    <input  type="month" name="date"/>
                </p>

                <p>
                    <input  class="btn btn-primary" type="submit" value="Перейти к графику"/>
                </p>
            </form>
        
        </div>
        <div align="left">
            <h2 >База автомашин</h2>
            
            <a class="text-primary" asp-controller="Car" asp-action="CarTablePage">Таблица автомашин</a>
            <br>
            <a class="text-primary" asp-controller="Car" asp-action="CarAdd">Добавить автомобиль</a>
        </div>
    <div align="left">
        <h2 >База водителей</h2>
        <a class="text-primary" asp-controller="Driver" asp-action="DriverTablePage">Таблица водителей</a>
        <br>
        <a class="text-primary" asp-controller="Driver" asp-action="DriverAdd">Добавить водителя</a>
    </div>
    <div align="left">
        <h2 >Сводка по рейсам</h2>
        <a class="text-primary" asp-controller="Race" asp-action="RaceTablePage">Таблица рейсов</a>
    </div>
    <div align="left">
                    <h2 >Сводка по ДТП</h2>
                    <a class="text-primary" asp-controller="DTP" asp-action="DTPTablePage">Таблица ДТП</a>
                    </div>
    </div>
