@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    TO
    График ТО за выбранную дату
    <form method="post" action="~/TO/TOTablePage">
        <p>
            <label class="control-label">Месяц</label>
            <select type="text" name="month">
                <option value="01">Январь</option>
                <option value="02">Февраль</option>
                <option value="03">Март</option>
                <option value="04">Апрель</option>
                <option value="05">Май</option>
                <option value="06">Июнь</option>
                <option value="07">Июль</option>
                <option value="08">Август</option>
                <option value="09">Сентябрь</option>
                <option value="10">Октябрь</option>
                <option value="11">Ноябрь</option>
                <option value="12">Декабрь</option>
            </select>
        </p>
        <p>
            <label class="control-label">Значение</label>
            <input type="text" name="year"/>
    
        </p>
        <p>
            <input type="submit" value="Отправить"/>
        </p>
    </form>

</div>