@model List<FInalProject.Models.Client> 


<p>Таблица "Клиенты"</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
    <tbody>
    <tr>
        <th style="width: 11.1111%;">ФИО</th>
        <th style="width: 11.1111%;">Телефон</th>
        <th style="width: 11.1111%;">Адрес</th>
        <th style="width: 11.1111%;">Тип</th>

    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td style="width: 11.1111%;">@product.ClientName</td>
            <td style="width: 11.1111%;">@product.ClientPhone</td>
            <td style="width: 11.1111%;">@product.ClientAdress</td>
            <td style="width: 11.1111%;">@product.ClientType</td>

        </tr>
    }

    </tbody >
</table >