@model List<FInalProject.Models.Category> 


<p>Таблица "Категории"</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
    <tbody>
    <tr>
        <th style="width: 11.1111%;">ID</th>
        <th style="width: 11.1111%;">Наименование</th>
        <th></th>


    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td style="width: 11.1111%;">@product.CategoryId</td>
            <td style="width: 11.1111%;">@product.CategoryName</td>
            <td><a asp-action="CategoryEdit" asp-route-id="@product.CategoryId">Изменить</a>
                <a asp-action="CategoryDelete" asp-route-id="@product.CategoryId">Удалить</a></td>


        </tr>
    }

    </tbody >
</table >