@model FInalProject.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменение данных</h1>

<h4>Товар</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div>
                    <label asp-for="ProductId" class="control-label">ID</label>
                    <input type="text" asp-for="ProductId" class="form-control"/>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="ProductName" class="control-label">Наименование</label>
                    <input type="text" asp-for="ProductName" class="form-control"/>
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductIndex" class="control-label">Артикул</label>
                    <input type="text" asp-for="ProductIndex" class="form-control"/>
                    <span asp-validation-for="ProductIndex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductUnit" class="control-label">Единица измерения</label>
                    <input type="text" asp-for="ProductUnit" class="form-control"/>
                    <span asp-validation-for="ProductUnit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Категория</label>
                    <input type="text" asp-for="CategoryId" class="form-control"/>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SellerId" class="control-label">Поставщик</label>
                    <input type="text" asp-for="SellerId" class="form-control"/>
                    <span asp-validation-for="SellerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StockId" class="control-label">Склад</label>
                    <input type="text" asp-for="StockId" class="form-control"/>
                    <span asp-validation-for="StockId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductPrice" class="control-label">Цена</label>
                    <input type="text" asp-for="ProductPrice" class="form-control"/>
                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDate" class="control-label">Дата</label>
                    <input type="text" asp-for="ProductDate" class="form-control"/>
                    <span asp-validation-for="ProductDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label">Кол-во</label>
                    <input type="text" asp-for="Amount" class="form-control"/>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProductTablePage">Вернуться назад</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}