@model FInalProject.Models.Order

@{
    ViewData["Title"] = "Delete";
}


<h3>Вы уверены, что хотите удалить заказ из списка?</h3>
<div>
    <dl class="row">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="OrderId" class="control-label">ID</label>
                <input type="text" asp-for="OrderId" class="form-control"/>
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="OrderDate" class="control-label">Наименование</label>
                <input asp-for="OrderDate" class="form-control"/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletionDate" class="control-label">Артикул</label>
                <input asp-for="CompletionDate" class="form-control"/>
                <span asp-validation-for="CompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Completion" class="control-label">Единица измерения</label>
                <input type="text" asp-for="Completion" class="form-control"/>
                <span asp-validation-for="Completion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label">Категория</label>
                <input type="text" asp-for="TotalPrice" class="form-control"/>
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productname" class="control-label">Поставщик</label>
                <input type="text" asp-for="productname" class="form-control"/>
                <span asp-validation-for="productname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label">Склад</label>
                <input type="text" asp-for="amount" class="form-control"/>
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CLientname" class="control-label">Цена</label>
                <input type="text" asp-for="CLientname" class="form-control"/>
                <span asp-validation-for="CLientname" class="text-danger"></span>
            </div>

            <input type="submit" value="Удалить" class="btn btn-danger"/>
            <a asp-action="OrderTablePage">Вернуться назад</a>
        </form>
    </dl>
</div>