@model FInalProject.Models.Order
@{
    ViewData["Title"] = "Create";
}

<h1>Добавление заказа</h1>

<h4>Заказ</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label">Дата заказа</label>
                <input asp-for="OrderDate" class="form-control"/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletionDate" class="control-label">Дата выполнения</label>
                <input asp-for="CompletionDate" class="form-control"/>
                <span asp-validation-for="CompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Completion" class="control-label">Выполнен</label>
                <input asp-for="Completion" class="form-control"/>
                <span asp-validation-for="Completion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label">Сумма</label>
                <input asp-for="TotalPrice" class="form-control"/>
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CLientname" class="control-label">Клиент</label>
                <input asp-for="CLientname" class="form-control"/>
                <span asp-validation-for="CLientname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productname" class="control-label">Заказ</label>
                <input asp-for="productname" class="form-control"/>
                <span asp-validation-for="productname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label">Количество</label>
                <input asp-for="amount" class="form-control"/>
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="OrderTablePage">Вернуться назад</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}