@model FInalProject.Models.Seller

@{
    ViewData["Title"] = "Delete";
}


<h3>Вы уверены, что хотите удалить поставщика из списка?</h3>
<div>


    <dl class="row">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="SellerId" class="control-label">ID</label>
                <input type="text" asp-for="SellerId" class="form-control"/>
                <span asp-validation-for="SellerId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="SellerName" class="control-label">Наименование</label>
                <input type="text" asp-for="SellerName" class="form-control"/>
                <span asp-validation-for="SellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerAddress" class="control-label">Артикул</label>
                <input type="text" asp-for="SellerAddress" class="form-control"/>
                <span asp-validation-for="SellerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerPhone" class="control-label">Единица измерения</label>
                <input type="text" asp-for="SellerPhone" class="form-control"/>
                <span asp-validation-for="SellerPhone" class="text-danger"></span>
            </div>
            


            <input type="submit" value="Удалить" class="btn btn-danger"/>
            <a asp-action="SellerTablePage">Вернуться назад</a>
        </form>
    </dl>
</div>